.bold {
    font-weight: bold;
}

.btn {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    color: #707070 !important;
    background-color: #F1F1F6 !important;
    font-weight: 400 !important;

    box-shadow: 0px 3px 6px #00000029 !important;
    border-radius: 8px !important;
    cursor: pointer !important;
    user-select: none !important;
    transition: all .15s ease-in-out !important;
    width: calc(100% - .75em - .75em) !important;
    padding: .75em 0 !important;
    margin: .75em 0 !important;
    &.selected {
        color: #fff !important;
        background-color: #38bbec !important;
    }

    &input {
        background-color: #38bbec;
    }
}

.title {
    color: #4c2b63;
    font-weight: 700 !important;
    font-size: calc(1.375rem + 1.5vw) !important;
    margin-top: 0 !important;
    margin-bottom: .5rem !important;

    line-height: 1.2 !important;
    text-align: left !important;
    font-family: Helvetica Neue;
}

.description {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: left;
    color: #707070;
    font-family: Helvetica Neue;
    font-size: 1.43rem;
    font-weight: 500;
    line-height: 1.27;
}
.subtitle {
  font-size:  1.37rem;
  font-weight: 700;
  color: #404040;
  text-align: left;
}
.result {
    color: #fbf9f8 !important;
    border-radius: .5em;
    background-color: #472e5a !important;
    padding: 1rem !important;
    margin-bottom: .5rem !important;
    font-weight: bold;
}

.introduction{
    background-color: rgb(224, 222, 222);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    align-content: space-around;
    align-items: flex-start;
    text-align: center;
    padding-bottom: 3px;
    padding-top: 3px;
    margin: 35px;
}

.validate{
  background-color: rgb(72, 179, 86);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
  justify-content: center;
  align-content: space-around;
  align-items: flex-start;
  height: 50px;
  border-radius: 8px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: rgb(49, 49, 49);
}

.validate:focus{
  background-color: rgb(72, 179, 86);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
  justify-content: center;
  align-content: space-around;
  align-items: flex-start;
  height: 50px;
  border-radius: 8px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color:white;

}
.cancel{
  background-color: rgb(179, 72, 72);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
  justify-content: center;
  align-content: space-around;
  align-items: flex-start;
  height: 50px;
  border-radius: 8px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: rgb(49, 49, 49);
}
.cancel:focus{
  background-color: rgb(179, 72, 72);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
  justify-content: center;
  align-content: space-around;
  align-items: flex-start;
  height: 50px;
  border-radius: 8px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color:white;

}
.line{
   display:block;
   width:100% /*or whatever width you want the effect of <hr>*/;
   border-top: 1px solid #D0D0E8 !important;
}

