.bold {
    font-weight: bold;
}

.container{
    margin: 0 6% !important;
}
.btn {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap;
    color: #707070 !important;
    background-color: #F1F1F6 !important;
    font-weight: 400 !important;
    text-align: center;
    box-shadow: 0px 3px 6px #00000029 !important;
    border-radius: 8px !important;
    cursor: pointer !important;
    user-select: none !important;
    transition: all .15s ease-in-out !important;
    width: 100% !important;
    padding: .75em 0 !important;
    margin: .75em 0 !important;

    &.selected {
        color: #fff !important;
        background-color: #38bbec !important;
    }

    &input {
        background-color: #38bbec;
    }

}

.title {
    color: #4c2b63;
    font-weight: 700 !important;
    font-size: 1.8rem !important;
    margin-bottom: .5rem !important;
    line-height: 1.2 !important;
    margin: 0 6% !important;
}

.subtitle {
    font-size:  1.2rem;
    font-weight: 700;
    color: #404040;
    text-align: left;
    margin: 0.25em 0 !important;
}

.indication{
    margin: 0 !important;
    color: #707070;
    font-weight: 500;
    font-size: .95rem;
    line-height: 1.1;
}

.description {
    margin: .75rem 6%;
    color: #707070;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.27;
}

.result {
    color: #fbf9f8 !important;
    border-radius: .5em;
    background-color: #472e5a !important;
    padding: 1rem !important;
    margin-bottom: .5rem !important;
    font-weight: bold;
}

.introduction{
    background-color: rgb(224, 222, 222);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    align-content: space-around;
    align-items: flex-start;
    text-align: center;
    padding-bottom: 3px;
    padding-top: 3px;
    margin: 35px;
}

.validate{
    background-color: rgb(72, 179, 86);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
    justify-content: center;
    align-content: space-around;
    align-items: flex-start;
    height: 50px;
    border-radius: 8px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: rgb(49, 49, 49);
}

.validate:focus{
    background-color: rgb(72, 179, 86);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
    justify-content: center;
    align-content: space-around;
    align-items: flex-start;
    height: 50px;
    border-radius: 8px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color:white;
}

.cancel{
    background-color: rgb(179, 72, 72);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
    justify-content: center;
    align-content: space-around;
    align-items: flex-start;
    height: 50px;
    border-radius: 8px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: rgb(49, 49, 49);
}

.cancel:focus{
    background-color: rgb(179, 72, 72);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
    justify-content: center;
    align-content: space-around;
    align-items: flex-start;
    height: 50px;
    border-radius: 8px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color:white;
}

.line{
    display:block;
    width:100% /*or whatever width you want the effect of <hr>*/;
    border-top: 1px solid #D0D0E8 !important;
}

.info {
    color: #707070;
    font-weight: 500;
    font-size: 1rem;
    margin: 0 6%;
}
